.Navbar {
    display: flex;
    padding: 8px 22px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 2px rgb(155, 153, 153);
    position: sticky;
    top: 0;
}

.Logo {
    width: 90px;
    cursor: pointer;
}

.SearchBar {
    border: 1px solid rgb(180, 177, 177);
    background-color: rgb(250, 248, 248);
    border-radius: 100px;
    padding: 10px 15px;
    width: 40%;
    display: flex;
}

.SearchBarInput {
    border: none;
    padding: 5px 10px;
    width: 95%;
}

.Links {
    text-decoration: none;
    color: black;
}

.icon {
    cursor: pointer;
}